.button {
    padding: 10px 15px;

    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    padding: 3px 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    &:focus {
        outline: none;
    }
    &:hover {
        opacity: 0.8;
    }
    &-default {
        color: $color-black;
        background-color: rgba($color-black, 0.15);
        border: 1px solid rgba($color-black, 0.1);
        text-transform: uppercase;
    }
    &-red {
        color: rgb(255, 129, 129);
        background-color: rgba(255, 129, 129, 0.15);
        border: 1px solid rgba(255, 129, 129, 1);
    }
    &-blue {
        color: $color-blue;
        background-color: rgba($color-blue, 0.15);
        border: 1px solid rgba($color-blue, 1);
    }
}
