.notification {
    cursor: pointer;
    position: relative;
    &__icon {
        color: rgba($color-black, 0.3);
    }
    &__status {
        height: 5px;
        width: 5px;
        display: block;

        border-radius: 100%;
        position: absolute;
        top: 2px;
        right: 1px;
        &--active {
            background-color: $color-blue;
        }
    }
}
